<%= form_tag search_food_path, remote: true, method: :get do %>
  <div class="orm-group row no-padding text-center col-md-12">
    <div class="col-md-1">
      <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search food" %>
    </div >
    <div class="col-md-0">
      <%= submit_tag("Search", class: "btn btn-outline-success my-2 my-sm-0") %>
    </div>
  </div>
<% end %>

<div id="search-results">

</div>
