<% @food.each do |food| %>
<div class="orm-group row no-padding text-center col-md-12">
  <div >
    <%= food.name %>
    <%= food.calories %>:calories
  </div>
  <div class="">
    <%= link_to "Add", food_meals_path(:food_id => food.id), class: "btn btn-sm btn-success", method: :post %>
  </div>

</div>
<% end %>
