<h1>Add meal</h1>
<div>
    <%= render 'meals/form' %>
    <%= link_to 'Cancel', destroy_meal_path%>
    <div id="search">

    </div>
    <div id="datetime-form">

    </div>


available foods: pig, chicken, apple, bread, beans
</div>
